<ion-header>
  <ion-toolbar>
    <ion-title>Banco</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Banco</ion-title>
    </ion-toolbar>
  </ion-header>

  <p>La ganancia total es de: {{VT}}</p>

  <ion-button expand="block" routerLink="/home" routerDirection="back">Ir a Inicio</ion-button>

  

</ion-content>
